/** Site header ***********************************************************/
.site-header {
  border-bottom: 1px solid $grey-color-light;
  background-color: #fff;
  opacity: 0.75;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 56px;
  width: 100%;
  z-index: 50;
  h1 {
    display: inline-block;
    line-height: $nav-height;
    color: $grey-color-dark;
    font-size: 30px;
    float: right;
  }
  span {
    color: $theme-color;
  }
  @include media-query($on-palm) {
    h1 {
      line-height: 20px;
      font-size: 10px;
      margin-right: 10px;
      color: $theme-color;
    }
    span {
      display: none;
    }
  }
}

.site-title {
  font-size: 20px;
  line-height: $nav-height;
  letter-spacing: -1px;
  margin-bottom: 0;
  &:hover {
    text-decoration: none;
    color: $theme-color;
  }
}
.site-nav {
  float: right;
  line-height: $nav-height;
  margin: 0 15px;
  .page-link{
    text-transform: capitalize;
    line-height: $base-line-height;
    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  span {
    display: none;
    margin-left: 10px;
  }
  @include media-query($on-palm) {
    position: fixed;
    top: 0px;
    right: 10px;
    text-align: right;
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: line;
    }
  }
}

.header-bar{ // Used to be tag-bar
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    //display: block;
    display: none; // Until I can generate tag list
    opacity: 0.75;
    width: 100%;
    text-align: center;
    //padding-top: 25px;
    line-height: 3em;
    z-index: 25;
    h1{
        color: $theme-color;
        font-size:75px;
    }
    h2{
        font-size:25px;
    }
    hr {
      margin-bottom: 15px;
    }
}

/** Site footer ***********************************************************/
.site-footer {
  //border-top: 1px solid $grey-color-dark;
  font-size: 10px;
  background-color: $footer-color;
  padding: 2px;
  color: #fff;
  position:fixed;
  left:0px;
  bottom:0px;
  height:25px;
  width:100%;
  text-align: center;
  a {
    color: rgba(230,230,230,1);
  }
  a:hover {
    color: $theme-color;
  }
}
/** Pagination ************************************************************/
.pagination{
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 50px;
}
.paginationicon {
  font-size: 50px;
  a {
    color: $theme-color;
  }
}
/** Page content **********************************************************/
.page-content {
  padding: 80px 0 30px; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin: 0px 5px;
  list-style: none;
  > li {
    margin-bottom: $vertical-spacing-unit;
  }
}
.contacticon {
  font-size: 40px;
  display: block;
  margin: $vertical-spacing-unit;
}
.square {
  background-color: $theme-color;
  border-radius: 32px;
  border: 1px solid $theme-color;
  display: inline-block;
  height: 32px;
  width: 32px;
}
.square:hover {
  background-color: $grey-color-dark;
  border: 1px solid $grey-color-dark;
}
.email{
  background-image: url("/css/logo/email.png");
}
.twitter {
  background-image: url("/css/logo/twitter.png");
}
.github {
  background-image: url("/css/logo/github.png");
}
.linkedin {
  background-image: url("/css/logo/linkedin.png");
}

.center{
  text-align: center;
}
/** Posts *****************************************************************/
.post-header {
  margin-bottom: $vertical-spacing-unit;
  padding: 0 5px;
}
.post-title {
  text-transform: capitalize;
  font-size: 25px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 20px;
  }
}
.post-content {
  h1 {
    text-transform: capitalize;
    font-size: 25px;
    @include media-query($on-laptop) {
      font-size: 20px;
    }
  }
  h2 {
    text-transform: capitalize;
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 17px;
    }
  }
  h3 {
    text-transform: capitalize;
    font-style: italic;
    padding: 0 5px;
    font-size: 17px;
    @include media-query($on-laptop) {
      font-size: 15px;
    }
  }
  h4 {
    text-transform: capitalize;
    font-style: italic;
    font-size: 15px;
    padding: 0 10px;
    color: $theme-color;
    @include media-query($on-laptop) {
      font-size: 13px;
    }
  }
  p {
    padding: 0 5px;
    font-size: 15px;
    @include media-query($on-laptop) {
      font-size: 11px;
    }
  }
  .row {
    display: inline-block;
  }
}
.post-meta {
  //font-size: $small-font-size;
  font-size: 12px;
  font-style: italic;
  color: $grey-color;
  margin-bottom: 0px;
}
.post-description {
  font-size: 12px;
}
.post-link {
  display: block;
}

/** Jolla formatting ******************************************************/
.jolla-title {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    font-size: 16px;
  }
}


/** Portfolio grid ********************************************************/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.project {
  width: 33.33%;
  height: 250px;
  float: left;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px;
}
.thumbnail{
  width: 100%;
  height: 230px;
  overflow: hidden;
}
.thumbnail img{
  width: 500px;
  height: auto;
  position: relative;
  left: -25%;
  top: -5%;
}
.thumbnail a{
  float: left;
  position: relative;
  width: 100%;
  height: 230px;
}
.thumbnail a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  color: $grey-color-light;
  padding: 40px;
  text-align: center;
}
.thumbnail a:hover span {
  display: block;
}
/** Portfolio pages *******************************************************/
.blankbox{
  background: $theme-color;
}
.img_row{
  //height: $img_height;
  width: 100%;
  //overflow: hidden;
  box-sizing: border-box;
  //padding: $img_spacing;
}
.col{
  width: 100%;
  height: 100%;
  float: left;
  object-fit: cover;
  box-sizing: border-box;
  padding: $img_spacing;
}
.right{
  float: right;
}
.one {
  width:33.33%;
}
.two {
  width: 66.66%;
}
.three{
  width: 100%;
}
.caption{
  height: 100%;
  color: $caption_color;
  text-align: center;
  vertical-align: middle;
  font-size: $caption_font_size;
}
